
.icon-kivy-glyph:before { content: '\4b'; } /* 'K' */
.icon-play:before { content: '\50'; } /* 'P' */
.icon-cw:before { content: '\52'; } /* 'R' */
.icon-pencil:before { content: '\e800'; } /* 'î €' */